form {
  /* Uniquement centrer le formulaire sur la page */
  margin-bottom: 15%;
  width: 100%;
  /* Encadré pour voir les limites du formulaire */
  padding: 1em;
  border: 1px solid rgb(95, 178, 189);
  border-radius: 1em;
  justify-content: center;
  background-color: rgba(58, 110, 223, 0.363);
  backdrop-filter: blur 5px;
}

form div + div {
  margin-top: 1em;
}

label {
  /* Pour être sûrs que toutes les étiquettes ont même taille et sont correctement alignées */
  display: inline-block;
  width: 90px;
  text-align: right;
}

input {
  /* Pour s'assurer que tous les champs texte ont la même police.
     Par défaut, les textarea ont une police monospace */
  font: 1em sans-serif;

  /* Pour que tous les champs texte aient la même dimension */
  width: 95%;
  padding-inline: 5%;
  box-sizing: border-box;

  /* Pour harmoniser le look & feel des bordures des champs texte */
  border: 1px solid rgb(5, 47, 110);
}

input :focus : {
  /* Pour souligner légèrement les éléments actifs */
  border-color: #000;
}

.login {
  width: 60%;
  margin: auto;
  /* Pour aligner les champs texte multi‑ligne avec leur étiquette */
  vertical-align: top;
  justify-content: space-between;

  /* Pour donner assez de place pour écrire du texte */
  height: 5em;
}

.signup {
  /* Pour placer le bouton à la même position que les champs texte */
  margin: auto; /* même taille que les étiquettes */
  width: 60%;
}
