main {
  font-size: 18px;
  color: #3b8fc3;
}
main h2 {
  text-align: center;
  padding: 7%;
}
/* Le titre de lapage */
#titre_plonger {
  text-align: center;
  padding: 3% 0;
}
/* traitement des sections */
.section_plonger {
  width: 59%;
  margin: auto;
  text-align: justify;
  font-size: 18px;
  padding: 0 2%;
}
.plonger_center {
  text-align: center;
  padding: 5% 0;
}
