/* scrol */
.scrol_plage{

	scroll-padding-top: 5rem/*pour le saut de page, a ajuster selon les besoins*/
	
	}
	
	
	.slider-scroll {
	
	width: 600px;
	max-width: 100%;
	max-height: 350px;
	margin: 2rem auto;
	display: flex;
	overflow-x: hidden;
	scroll-behavior: smooth;
	scroll-snap-type: x mandatory;
	-webkit-overflow-scrolling: touch;
	}
	
	.slider-scroll img {
	scroll-snap-align: center;
	min-width: 100%;
	 border-radius: 5px;
		
	}
	
	.ancre {
		
	margin: 1rem auto;
	display: flex;
	justify-content: center;
	
	}
		
	.ancre li{
		
	display: inline-flex;
	justify-content: center;
	align-items:center;
	width: 30px;
	height: 30px;
	background: #404040;
	border-radius: 50%;
	}
		
	.ancre li a{color:white}
		
	.ancre li:not(:last-child){
	  margin-right: 30px;
	}
	
	
	.ancre li a:hover {
	  opacity: 0.5;
	}
	/* main */
	main{
		font-size: 18px;
		color: #3b8fc3;
	}
	/* les sections randonnées */
	.section_rando01{
		width: 80%;
		margin: auto;
		text-align: justify;
		padding: 4% 5% 2% 2%;
	}
	#h1_rando{
		text-align: center;
		padding: 2% 0;
	}
	.section_rando{
		display: flex;
		justify-content: space-between;
		align-content: center;
		width: 80%;
		margin: auto;
		text-align: justify;
		padding: 0 2%;
	}

	.div_rando{
		text-align: justify;
		font-size: 18px;
		padding: 3% 5%;

	}
	.div_rando h2{
		margin-bottom: 30px;
	}


