/* footer */
footer{
    width: 100%;
    height: 420px;
    background-color: rgb(41, 46, 112);
}
#section_footer{
    display: flex;
    justify-content: space-evenly;
}
.footer{
    width: 16%;
    height: 300px;
    margin: 10px;
    background-color: rgb(107, 120, 190);
}
#logo_footer{
    width: 60%;
    margin-left: 15%;
    margin-top: 10%;

}
.reseaux{
    width: 40px;
}
#flex_reseaux{
    display: flex;
    justify-content: space-between;
}
#button_contact{
    
}