*{
    margin: 0;
    padding: 0;
    box-sizing: border-box
    
}
.link{    
     text-decoration: none;
}

body{
    display: flex;
    flex-direction: column;
}
/*xxxxxxxxxxxxxHEADERxxxxxxxxxx*/
.header{
    display: flex;
    background-color: rgb(2, 171, 214);   
}

/*redirections*/
ul{
    display: flex;
    flex-direction: row;
    font-size: 2em;
    align-items: center;
    list-style-type: none;   
    position: relative;
    padding: 2%;
    margin-top: 25%;
    font-family: 'Bree Serif', serif;
    text-align: center;
        
}

ul a{
    text-transform: uppercase;
    color: white;   
}
ul a:hover{
    letter-spacing: 2px;
    color: white;
    background-color:rgba(255, 255, 255, 0.363);
    backdrop-filter:blur 5px;
}

/*image*/
#fondaccueil{
    width: 100%;
    height: 100%;
    position: absolute;
}
#logo{
   width: 50%;
    position: relative;
}
#user {
    width: 30%;
    height: auto;
    position: relative;
    top: 2%;
    left: 60%;
   
    
    justify-content: flex-end;
    filter: rgba(255, 255, 255, 0);
 }
 /*bouton*/
.bn59 {
   text-decoration: none;
   font-weight: 600;
   position: relative;
   outline: none;
   border-radius: 50px;
   display: flex;
   justify-content: center;
   align-items: center;
   cursor: pointer;
   padding: 1%;
   opacity: 1;
   
  }
  .image{
    display: flex;
    padding: 2%;
    justify-content: space-between;
    align-items: flex-start;
  }

a{
    text-decoration: none;
}
/* xxxxx footer xxxxx */
footer{
    width: 100%;
    height: 420px;
    padding-top: 20px; 
    background-color: #3b8fc3;
}
#section_footer{
    display: flex;
    justify-content: space-evenly;
}
.footer{
    width: 16%;
    height: 300px;
    margin: 10px;
    padding: 10px;
    background-color: #80b0cd;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius:10%;
}
#logo_footer{
    width: 60%;
    margin-left: 15%;
    margin-top: 10%;

}
.reseaux{
    width: 40px;
}
#flex_reseaux{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;


}
/* le bouton de contact */
#button_contact{
    margin-bottom: 40%;
    margin-left: 30%;
    background-color: black;
    color: white;
    padding: 5%;
    font-size: 20px;
    border-radius: 50%;
}
/* hover du bouton */
#button_contact:hover{
    background-color: #265c7e;
}
/* footer 2 */
#section_footer2{
    color: white;
    background-color: black;
    display: flex;
    justify-content: end;
    margin-top: 28px;
    padding-right: 105px;
}
/* changement de la couleur des liens */
.lien_couleur{
    color: white;
}



