::before ::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
h2{
    text-align: center;
    font-size: 40px;
    margin: 50px 0;
}
.grid > div {
    border: solid 2px #3B8FC3;
}.grid > main {
    border: solid 2px #3B8FC3;
}.grid > footer {
    border: solid 2px #3B8FC3;
}
.grid{
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: repeat(10, 1fr);
    grid-column-gap: 20px;
}
.headerHistoire{
    grid-column: span 3;
    padding: 30px;
    text-align: center;
    font-size: 22px;
    background-color: #fff;
    color: #3B8FC3;
    text-shadow: #183B51;
}
nav{
    min-height: 50px;
    max-height: none;
    position: relative;
    background-color: #3B8FC3;
    grid-column: 1 / 1;
}
div div{
    background-image: url(Images/blason-marseille.png);
}
.child1{
    /* background-image: url(Images/blason-marseille.png); */
}
.child1 li {
    height: 100px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 15px 50px rgba(0,0,0.2);
}
.child1 li a {
    text-decoration: none;
    font-size: 18px;
    color: #fff;
}
.child2{
    background-color: #fff;
    color: #3B8FC3;
    background-image: none;
    box-shadow: 0 15px 50px rgb(26, 32, 151);
}
.child3{
    background-color: #3B8FC3;
    color: #fff;
    background-image: none;
    box-shadow: 0 15px 50px #183B51
}
#icon{
    display: none;
}


@media (max-width: 600px){
    .child1{
        background-image: none;
    }
    .grid{
        display: flex;
        flex-direction: column;
    }
    nav{
        max-height: 50px;
    }
    .child1 li a{
        display: none;
    }
    #icon{
        display: block;
        position: absolute;
        top: 15px;
        right: 150px;
    }
}